@model Capstone.Models.Soldier
@{
    ViewBag.Title = "SubmitPacket";
}

<h2>Packet Submission</h2>
<div>
    @ViewBag.Text
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</div>
